<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block seo %}
        <title>{{ config.title }}</title>

        <meta property="og:title" content="{{ config.title }}">
        <meta name="description" content="{{ config.description }}">
        <meta property="og:description" content="{{ config.description }}">
        <meta property="og:url" content="{{ get_url(path='/')}}">
        <link rel="canonical" href="{{ get_url(path='/')}}">
    {% endblock seo %}

    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path='assets/img/rust-logo-128x128-blk-v2.png')}}">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property="og:site_name" content="{{ config.title }}">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    
    {% block head %} {% endblock %}
</head>

<body>
    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="/#chat">Chat</a>
        <a class="item" href="/#ecosystem">Ecosystem</a>
        <a class="item" href="/#curators">Curators</a>
        <a class="item" href="/#about">About</a>
    </div>

    <div class="pusher">
        <header class="ui inverted vertical masthead center aligned segment">
            <nav class="ui container" aria-label="site">
                <ul class="ui large borderless inverted menu nolist">
                    <li>
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                    </li>
                    <li>
                        <a class="item" href="/">Home</a>
                    </li>
                    <li>
                        <a class="item" href="/#chat">Chat</a>
                    </li>
                    <li>
                        <a class="item" href="/#news">News</a>
                    </li>
                    <li>
                        <a class="item" href="/#ecosystem">Ecosystem</a>
                    </li>
                    <li>
                        <a class="item" href="/#curators">Curators</a>
                    </li>
                    <li>
                        <a class="item" href="/#about">About</a>
                    </li>
                    <li class="right menu">
                        <div class="item">
                            <a class="ui inverted button" href="https://github.com/rust-gamedev/arewegameyet">Contribute</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="ui text container">
                {% block masthead %}
                    <p class="ui inverted large header">
                        Are we game yet?
                    </p>
                {% endblock %}
            </div>
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

        <footer class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="/#about" class="item">Contact Us</a>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <h4 class="ui inverted header">Arewegameyet?</h4>
                        <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Get involved</h4>
                        <div class="ui inverted link list">
                            <a href="https://github.com/rust-gamedev/arewegameyet" class="item">Contribute</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <a href="https://github.com/rust-gamedev/arewegameyet" class="github-corner" aria-label="View source on Github">
        <svg width="80" height="80" viewBox="0 0 250 250" aria-hidden="true">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
        </svg>
    </a>
    
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/semantic/js/visibility.min.js"></script>
    <script src="/assets/semantic/js/transition.min.js"></script>
    <script src="/assets/semantic/js/sidebar.min.js"></script>

    <script>
        $(document).ready(function () {
            // fix menu when passed
            $('.masthead').visibility({
                once: false,
                onBottomPassed: function () {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function () {
                    $('.fixed.menu').transition('fade out');
                }
            });

            // create sidebar and attach to menu open
            $('.ui.sidebar')
                .sidebar('setting', 'transition', 'overlay')
                .sidebar('setting', 'mobileTransition', 'overlay')
                .sidebar('attach events', '.toc.item');

            $('.ui.sidebar .item').on('click', function (event) {
                $('.ui.sidebar').sidebar('hide');
            })
        });
    </script>
    
    {% block footer %} {% endblock %}
</body>

</html>
